<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
	<title>Chirp Chef</title>
</head>
<body class="indexBody">
	<header>
		<h1>Chirp Chef</h1>
	</header>
	<nav>
		<h1></h1>
		<ul>
			<li><a href="./">Home</a></li>
		</ul>
	</nav>
		<div class="buttons">
			<a href="/login"><button>Login</button></a>
			<a href="/signup"><button>Signup</button></a>
            <a href="/recipes/newform"><button>New Chirp</button></a>
		</div>
		
		<div class="dash">
			<% for (let i = 0; i < recipes.length; i++) { %>
				<h3>Name: <%=recipes[i].name%></h3>
				<h3>Ingredients: <%=recipes[i].ingredients%></h3>
				<h3>Instructions: <%=recipes[i].instructions%></h3>
				<a href="/recipes/<%= recipes[i]._id %>">
				  <img class="recipe-img" src="<%= recipes[i].image %>" alt="recipe image">
				</a>
			  <% } %>
		</div>
		<footer>
			
		</footer>
	</body>
	</html>